# Homework 2: Data Cleaning, EDA and Visualizations #

In [1]:
#import any libraries that you may need here
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

### We would like our new consultants and mentors to not just be technically skilled but also ethical leaders in their fields. Therefore, let us go over some basic data ethics knowledge. ###

## Section 1: Data Ethics

### What are the different types of biases we mentioned during lecture? Pick one that you observe in yourself and describe how it may influence your decision-making.

In [2]:
# Your answer here

### How do you think you could overcome your biases?

In [3]:
# Your answer here

### What is one example of how unethical data analysis impacted a group of people? Avoid repeating the lecture example.

In [4]:
# Your answer here

## Section 2: Data Cleaning

### Pick out a dataset that you are interested in working with on [Kaggle](https://www.kaggle.com/datasets)! You should continue working with it in future homeworks so that you have a comprehensive data science project by the end of the semester so pick a good one.
### Download it and add it to the same folder that you are working in so that you are able to load it easily. You can refer to the [slides](https://docs.google.com/presentation/d/1UPj0F_I0CYoiUrbuSR9sYq50FEh8-RDG4usnTFaUBJI/edit#slide=id.g1c0cc4ea8d8_0_1369) that we used for onboarding for any help. ###

In [5]:
# load your dataset here, df is short for DataFrame. 
# E.g.You can use pd.read_csv() for csv files. 
df = ...

####  Example

In [6]:
elections = pd.read_csv("elections.csv")
elections.head(5)

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789

### Now let's do some data cleaning! Here are a list of questions that you should think through and answer while looking at your data. If your data is from kaggle, it might already be really clean, but practise answering these questions. 

### *At this point, just answer these questions and examine your data but don't attempt to clean it yet* ###

- Does your data contain unrealistic or incorrect values?
    - Dates in the future
    - Locations that donâ€™t exist
    - Negative counts
- Does your data violate obvious dependencies?
    - Age and birthday not matching
- Is the data coherent and consistent?
    - Misspellings and inconsistent labels
    - Was the data entered by hand?
- Are there signs of data falsification?
    - Repeated names, fake looking email addresses, uncommon names or fields
- Do we need to convert any of the variable types in order to prepare for modelling?
    - Qualitative variables that you might want to convert to numbers
- Any other interesting observations?

In [7]:
### Write your answers to each of the questions here 

# Q1: Does your data contain unrealistic or incorrect values?

# Answer to Q1

# Q2: Does your data violate obvious dependencies?

# Answer to Q2

# Q3: Is the data coherent and consistent?

# Answer to Q3

# Q4: Are there signs of data falsification?

# Answer to Q4

# Q5: Do we need to convert any of the variable types in order to prepare for modelling?

# Answer to Q5

# Q6: Any other interesting observations?

# Answer to Q6

In [8]:
# Any exploratory code here
# You can refer to the pandas section of the slides to do this
elections.describe()

              Year  Popular vote           %
count   182.000000  1.820000e+02  182.000000
mean   1934.087912  1.235364e+07   27.470350
std      57.048908  1.907715e+07   22.968034
min    1824.000000  1.007150e+05    0.098088
25%    1889.000000  3.876395e+05    1.219996
50%    1936.000000  1.709375e+06   37.677893
75%    1988.000000  1.897775e+07   48.354977
max    2020.000000  8.126892e+07   61.344703

### More factors to consider

Here is a list of a few more questions to consider while data cleaning! Answer them to get a deeper understanding of your data.

- Do any of the keys in each table reference each other?
    - Primary keys are the column or set of columns in a table that determine the values of the remaining columns
    - Foreign keys are the column or sets of columns that reference primary keys in other tables
    - Can we merge them tables?
- What does each field specify? 
    - What is the variable type? 
    - Qualitative(Ordinal and Nominal), Quantitative (Continuous and discrete)
    - String, integer, float, list, array etc.
- Granularity? What does each record represent? Are there aggregations?
- Where was this data collected from? What types of questions were asked to gather this data? How representative is it? When was it collected?
- Truncated data 
    - Check the platform that you are working on, does it limit your data size?
- Time zone inconsistencies
    - Convert to common timezone
- Duplicated records or fields -> eliminate carefully
- Spelling errors
- Units not specified or inconsistent
- Missing Data
- Redundant data
- Simplify 
    - Take one column
    - Combine multiple columns  into one
- Aggregation
    - groupby

In [9]:
### Your answers to each of the questions/ observations about each factor here 

# Q1: Do any of the keys in each table reference each other?

# Answer to Q1

...

Ellipsis

In [10]:
# Any exploratory code here. 
# You can refer to the pandas section of the slides to do this

## Addressing Missing Data/ Default Values

### As you cleaned your data, you may have observed missing data/ default values. Decide what to do with these values and explain your decision-making process.

Here are some methods to deal with missing values:
- Drop records with missing values
    - Check for biases induced by missing values - there may be trends in why something is missing
    - This requires domain knowledge to check for induced bias
- Imputation: Inferring missing values
    - Replace with average value (closest related subgroup mean)
    - Replace with a random value from the closest subgroup(Hot deck imputation) 
- Numerical: 
    - mean, mode, median
- Categorical
    - Mode, new category
- Directly model missing values during future analysis

In [11]:
#Any preliminary cleaning necessary to start dealing with missing values

In [12]:
#Code addressing missing values here e.g. df.dropna()
elections.dropna().head(5) #remove this line, this is just an example

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789

In [13]:
#Explain what types of missing values you found and the decisions you made in addressing them

## Handling outliers

### Now let's handle any outliers. Same process as before!

Here are some methods to deal with handling outliers:
- Drop records with outliers
    - Check for biases induced by missing values - there may be trends in why something is missing
    - This requires domain knowledge to check for induced bias
- Replace, as with Inferring missing values
    - Typically with min or max
- Binning
    - E.g. greater than 5

In [14]:
#Code addressing outliers here

In [15]:
#Explain what types of outliers you found and the decisions you made in addressing them

## Let's clean!

### Now that we have a much deeper understanding of our data and have dealt with a few preliminary issues, clean up the data so that it is useful and accurate!

In [16]:
### Your code here

## Section 3: EDA

### Study the data and observe any potential trends/ consider models that you might be able to implement. Study the relationships between the different columns and see if you can find any insights. List at least 2 potential project ideas.

In [17]:
# Exploratory code here

#e.g. df.corr() gives you the correlation coefficients between columns

# Section 4: Visualizations

### This is also part of EDA! The whole process is rather cyclical. For this part, make 3 visualizations and describe what you see. 

### Then, make 2 out of 3 these visualizations.
### 1. Heat Map
### 2. KDE Plot
### 3. Box Plot

### So in total, you should have made 5 visualizations.

In [18]:
#Visualization 1

...

#Your observations

Ellipsis

In [19]:
#Visualization 2

...

#Your observations

Ellipsis

In [20]:
#Visualization 3

...

#Your observations

Ellipsis

In [21]:
#Visualization 4

...

#Your observations

Ellipsis

In [22]:
#Visualization 5

...

#Your observations

Ellipsis

### Which visualization is the best for your dataset and why?

In [1]:
#Your answer here

# Good job!

### As a quick wrap-up, think about how your biases might have affected your judgement and if there is anything you want to work on. 

### As you can see, working with a dataset outside of class is much less structured. However, with practice, you will be become much sharper and efficient at wrangling data. Good luck with the next project!

In [23]:
#Quick reflection#

### Fantastic job ~ Remember to push all your changes your GitHub repository and submit on Gradescope.
### Thank you for your time :)
### That's all for this homework!